<html>
  <head>
    <title>MultAIchat</title>
    <link rel="stylesheet" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="module" src="/scripts/persona-picker.js"></script>
    <script type="module" src="/scripts/chat-session.js"></script>
    <script type="module" src="/scripts/chat-messages.js"></script>
    <script type="module" src="/scripts/chat-input.js"></script>
  </head>
  <body>
    <nav class="site-nav">
      <ul>
        <li><a href="/" {% if active_section == 'chat' %} class="active"{% endif %}>Chat</a></li>
        <li><a href="/persona" {% if active_section == 'persona' %} class="active"{% endif %}>Personas</a></li>
        <li><a href="/settings" {% if active_section == 'settings' %} class="active"{% endif %}>Settings</a></li>
      </ul>
    </nav>
    <div class="site-content">
			{% block body %} {% endblock %}
		</div>
  </body>
</html>
